/*@import "react-slideshow-image/dist/styles.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: rgb(236, 221, 236);
  --secondary: rgba(67, 39, 105, 0.85);
  --tertiary: rgba(104, 110, 114, 0.27);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  /*border-radius: 5px;*/
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}



.headerbutton {
  color: #582E8C;
  background-color: transparent;
  user-select: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  transition: background-color .5s ease;
  cursor: pointer;
}

.headerbutton:hover {
  background-color: whitesmoke;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: black;

}

.slide0 {
  z-index: 4;
}

.slide1 {
  animation: phase-out 6s forwards;
  z-index: 3;

}

.slide2 {
  animation: phase-out 6s 6s forwards;
  z-index: 2;
}

.slide3 {
  /*animation: phase-out 6s 12s forwards;*/
  z-index: 1;
}

@keyframes phase-out {
  90% {
    opacity:100%
  }
  100% {
    opacity: 0;
  }
}


