.exec-contain {
    padding-left: 15%;
}

.item {
    width: 16rem;
    display: inline-block;
    margin-top: 2rem;
}

.caption {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
    color: black;
}

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
    border-bottom: solid dimgray 1px;
    border-left: solid dimgray 1px;

}